  .scrolling-image {
    display: flex;
    background: url(/TPO/Imagenes/Portada.jpg) repeat-x;
    height: 170px;
    width: 2560px;
    padding: 1px;
    border: 1px solid black;
    animation: slide 10s linear infinite;
    ;
  }
  @keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-1280px); /* The image width */
    }
  }
  .textoCentrado {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h1{
    display: flex;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
    margin-bottom: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     color:rgb(212, 186, 186);
}

.Nav{
    margin-top: 1px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    font-size: 18px;
}
  
.BtnNav{
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    background-color: antiquewhite;
    padding: 2px 40px;
    
}
.BtnNav:hover{
    position: relative;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    background-color:coral;
    color:black;    
}

footer{
    clear: both;
    display: flex;
    justify-content: center;
    align-content: end;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 5px;
    height: 40px;
}

body {
    background-image: url(/TPO/Imagenes/test1.jpg);
    background-repeat: repeat;
    background-size:cover;

}

.Presentacion{
	border: 3px solid black;
	padding: 10px;
	background-origin: padding-box;
	height: 250px;
    margin: 2px;
    float: left;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.6);

}
.Aside{
    display: flex;
    margin: 2px;
    float: right;
    background-origin: padding-box;
    border: 3px solid black;
    height: 250px;
    padding: 25px;
    width: 28%;
    background-color: rgba(255, 255, 255, 0.6);
}
