@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); /*Cursiva para H1 "font-family: 'Great Vibes', cursive;"*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid_container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

html {
    font-size: 70%;
    height: 100%;
}

body {
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 1.2rem;
    min-height: 100%;
    background-color: rgba(250, 235, 215, 0.65);
}

.header {
    grid-area: header;
}

.navbar {
    display: flex;
    justify-content: space-around   ;
    grid-area: navbar;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    background-color: darkgrey;
    grid-area: footer;
}
.iconos {
    font-size: 2rem;
}

.grid_container { 
    display: grid;
    gap: 10px;
    text-align: center;
    grid-template:
    "header" 180px
    "navbar" 50px
    "main" auto
    "sidebar" 100px
    "footer" 100px;
}

@media (min-width: 600px) {
    html {
        font-size: 100%;
    }
    .grid_container {
        grid-template:
        "header header" 180px
        "navbar navbar" 25px
        "main sidebar" auto 
        "footer footer" 100px /
        auto 300px;
    }
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     color:rgb(212, 186, 186);
  }

  .imagen {
    display: flex;
    background: url(Imagenes/Portada.jpg) repeat-x;
    height: 180px;
    padding: 0;
  }
  .textoCentrado {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Nav{
    margin-top: 1px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    font-size: 18px;;
}
  
.BtnNav{
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    background-color: antiquewhite;
    width: 100%;
}
.BtnNav:hover{
    position: relative;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    background-color:coral;
    color:black;
}
.navigation{
    bottom: 20px;
  }
  .slidershow{
    padding: 5px;
    overflow: hidden;
  }
  .navigation{
    display: flex;
    justify-content: space-around;
  }
  .bar{
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    margin: 2px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  
